@model CourseInformationViewModel
@{
    ViewData["Title"] = Model.LessonInformation.NameTR + " Bilgileri";
}
<div class="wrapper d-flex align-items-stretch">
    @await Html.PartialAsync("_SideBar", Model.SideBarViewModel)
    <div id="content" class="p-md-4">
        @await Html.PartialAsync("_NavigationBar")
        <div>
            <nav aria-label="breadcrumb" class="ml-5 mr-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item">Sınıflarım</li>
                    <li class="breadcrumb-item">@Model.CourseInformation.CRN</li>
                </ol>
            </nav>
            <h2 class="mb-2 ml-5">@Model.LessonInformation.NameTR - @Model.CourseInformation.CRN</h2>
            <div class="container-sm shadow bg-light pt-5 pb-5 pl-4 mt-4 mb-5 ml-5 mr-5">
                <div class="row">
                    @await Html.PartialAsync("_CoursesOperationsPartial", Model.CourseInformation)
                    <div class="col-6 col-sm-7 border shadow bg-light ml-2 mr-2 " style="height: 45rem;">
                        <div class="h5 text-dark mt-4 ml-3 p-1"> Ders Bilgileri</div>
                        <ul class="list-group list-group-flush bg-light w-50">
                            <li class="list-group-item bg-light p-2"><b>Ders Adı - Türkçe : </b> <span>@Model.LessonInformation.NameTR</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Adı - English : </b> <span>@Model.LessonInformation.NameEn</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Kodu : </b> <span>@Model.LessonInformation.Code</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Dili : </b> <span>@Model.LessonInformation.Language</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Dönemi : </b> <span>@Model.LessonInformation.TermNumber</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Kredisi : </b> <span>@Model.LessonInformation.Credit</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Amacı : </b> <span>@Model.LessonInformation.Goals</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Açıklaması : </b> <span>@Model.LessonInformation.Descriptions</span></li>
                            <li class="list-group-item bg-light p-2"><b>Ders Ek bilgileri : </b> <span>@Model.LessonInformation.OtherInformations</span></li>
                            @*@foreach (var item in Model.CourseUserList)
                                {
                                    <li class="list-group-item bg-light  p-1"><b>sınıf kişiler : </b> <span>@item.RoleInCourse.RoleName</span></li>

                                }*@
                        </ul>
                        <div class="h5 text-dark mt-3 ml-3 p-1"> Sınıf Bilgileri</div>
                        <ul class="list-group list-group-flush bg-light w-50">
                            <li class="list-group-item bg-light p-2"><b>Başlangıç Tarihi : </b> <span>@Model.CourseInformation.StartDate.ToShortDateString()</span></li>
                            <li class="list-group-item bg-light p-2"><b>Bitiş Tarihi : </b> <span>@Model.CourseInformation.EndDate.ToShortDateString()</span></li>
                            <li class="list-group-item bg-light p-2"><b>Son Erişim Tarihi : </b> <span>@Model.CourseInformation.LastAccessDate.ToShortDateString()</span></li>

                        </ul>
                        @*<div class="card w-100 mt-1">
                                <div class="card-header p-0 ">
                                    <div class="card-subtitle fa-2x text-center pb-0 mb-0">Ders bilgileri</div>
                                </div>
                                <div class="card-body pt-1">
                                    <ul class="list-group list-group-flush">

                                    </ul>
                                </div>
                            </div>*@
                        @*<div class="card w-100 mt-2">
                                <div class="card-header p-0 ">
                                    <div class="card-subtitle fa-2x text-center pb-0 mb-0">Mesajlar</div>
                                </div>
                                <div class="card-body pt-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item pb-0">
                                            <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                            başlıklı mesaj grubunun içerisine bir mesaj attı.
                                            <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                        </li>
                                        <li class="list-group-item pb-0">
                                            <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                            başlıklı mesaj grubunun içerisine bir mesaj attı.
                                            <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                        </li>
                                        <li class="list-group-item pb-0">
                                            <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                            başlıklı mesaj grubunun içerisine bir mesaj attı.
                                            <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                        </li>

                                    </ul>
                                </div>
                            </div>*@
                    </div>
                    @await Html.PartialAsync("_CourseInfoPartial", Model.LessonInformation)
                </div>
            </div>
        </div>
    </div>
</div>
