@model NotificationListViewModel
@{
    ViewData["Title"] = "Duyuru Oluştur";
}
<div class="wrapper d-flex align-items-stretch">
    @await Html.PartialAsync("_SideBar", Model.SideBarViewModel)
    <div id="content" class="p-md-4">
        @await Html.PartialAsync("_NavigationBar")
        <div>
            <nav aria-label="breadcrumb" class="ml-5 mr-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item">Sınıflarım</li>
                    <li class="breadcrumb-item">@Model.Course.CRN</li>
                </ol>
            </nav>
            <h2 class="mb-2 ml-5">@Model.Lesson.NameTR - @Model.Course.CRN</h2>
            <div class="container-sm shadow bg-light pt-5 pb-5 pl-4 mt-4 mb-5 ml-5 mr-5">
                <div class="row">
                    @await Html.PartialAsync("_CoursesOperationsPartial",Model.Course)
                    <div class="col-6 col-sm-7 border shadow bg-light ml-2 mr-2 " style="height: 45rem;">
                        <div class="h4 mt-4 ml-4">Duyurular</div>
                        <div class="row justify-content-md-center mt-3">
                            <div class="col ml-3 mr-3">
                                <div class="list-group">
                                    @if (Model.NotificationList != null && Model.NotificationList.Count > 0)
                                    {
                                        foreach (var notif in Model.NotificationList)
                                        {
                                            <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@notif.Title</h5>
                                                    @if (notif.Priority)
                                                    {

                                                        <span class="badge badge-danger pt-1" style="align-self: center; ">Önemli!!</span>
                                                    }
                                                </div>
                                                <p class="mb-1">@notif.Description</p>
                                                <small>@notif.WriterFullname</small>
                                                <small class="float-right">@notif.CreatedDate</small>
                                            </a>
                                        }
                                    }

                                   @* <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">List group item heading</h5>
                                            <small class="text-muted">3 days ago</small>
                                        </div>
                                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                                        <small class="text-muted">And some muted small print.</small>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">List group item heading</h5>
                                            <small class="text-muted">3 days ago</small>
                                        </div>
                                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                                        <small class="text-muted">And some muted small print.</small>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("_CourseInfoPartial",Model.Lesson)
                </div>
            </div>
        </div>
    </div>
</div>
