@model CourseDetailViewModel
@{
    ViewData["Title"] = @Model.Course.CRN;
}
<div class="wrapper d-flex align-items-stretch">
    @await Html.PartialAsync("_SideBar", Model.SideBarViewModel)
    <div id="content" class="p-md-4">
        @await Html.PartialAsync("_NavigationBar")
        <div>
            <nav aria-label="breadcrumb" class="ml-5 mr-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item">Sınıflarım</li>
                    <li class="breadcrumb-item">@Model.Course.CRN</li>
                </ol>
            </nav>
            <h2 class="mb-2 ml-5">@Model.Lesson.NameTR - @Model.Course.CRN</h2>
            <div class="container-sm shadow bg-light pt-5 pb-5 pl-4 mt-4 mb-5 ml-5 mr-5">
                <div class="row">
                    <div class="col-6 col-sm-2 border shadow bg-light mr-2" style="height: 45rem;">
                        <div class="h5 text-dark mt-4 ml-2 p-1">Ders İşlemleri</div>
                        <ul class="list-group list-group-flush bg-light">
                            <li class="list-group-item bg-light"><a href="#">Ders Bilgileri</a></li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                            {
                                <li class="list-group-item bg-light"><a href="#">Sınıf Kişi İşlemleri</a></li>
                            <li class="list-group-item bg-light"><a asp-controller="Notification" asp-action="Add" asp-route-courseId="@Model.Course.Id">Duyuru Oluştur</a></li>

                            }
                            <li class="list-group-item bg-light"><a href="#">Duyurular</a></li>
                            <li class="list-group-item bg-light"><a href="#">Sınıf Dosyaları</a></li>
                            <li class="list-group-item bg-light"><a href="#">Mesajlar</a></li>
                            <li class="list-group-item bg-light"><a href="#">Anketler</a></li>
                            <li class="list-group-item bg-light"><a href="#">Ödevler</a></li>
                            <li class="list-group-item bg-light"><a href="#">Kısa Sınavlar</a></li>
                            <li class="list-group-item bg-light">
                                <a href="#">
                                    Notlandırma
                                </a>
                            </li>
                            <li class="list-group-item bg-light"><a href="#">Yoklama</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-7 border shadow bg-light ml-2 mr-2 " style="height: 45rem;">
                        <div class="card w-100 mt-1">
                            <div class="card-header p-0 ">
                                <div class="card-subtitle fa-2x text-center pb-0 mb-0">Duyurular</div>
                            </div>
                            <div class="card-body pt-1">
                                <ul class="list-group list-group-flush">
                                    @if (Model.NotificationList != null && Model.NotificationList.Count > 0)
                                    {
                                        foreach (var item in Model.NotificationList)
                                        {
                                            <li class="list-group-item pb-0 @(item.Priority ? "bg-warning":"")">
                                                <strong>@item.WriterFullname</strong> tarafından "<a href="~/notification/@item.Id.ToString()" class="text-primary">
                                                   @item.Title
                                                </a>" başlıklı duyuru eklendi.
                                                <footer class="text-md-right text-info">@item.CreatedDate</footer>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="list-group-item pb-0">
                                            Son 15 günde duyuru oluşturulmamaıştır.
                                        </li>
                                    }

                                 @*   <li class="list-group-item pb-0">
                                        <strong>Fatma Özdemir</strong> tarafından "<a href="#" class="text-primary">
                                            Dönem Sonu Sınav
                                            Yerleri
                                        </a>" başlıklı duyuru eklendi.
                                        <footer class="text-md-right text-info">01.06.2022 14:00</footer>
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <strong>Fatma Özdemir</strong> tarafından "<a href="#" class="text-primary">
                                            2. Kısa Sınav
                                            Sonuçları
                                        </a>" başlıklı duyuru eklendi.
                                        <footer class="text-md-right text-info">01.06.2022 14:00</footer>
                                    </li>*@

                                </ul>
                            </div>
                        </div>
                        <div class="card w-100 mt-2">
                            <div class="card-header p-0 ">
                                <div class="card-subtitle fa-2x text-center pb-0 mb-0">Mesajlar</div>
                            </div>
                            <div class="card-body pt-1">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item pb-0">
                                        <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                        başlıklı mesaj grubunun içerisine bir mesaj attı.
                                        <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                        başlıklı mesaj grubunun içerisine bir mesaj attı.
                                        <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <strong>Oğuzhan Seleker</strong>, "<a href="#" class="text-primary">Whatsapp grup linki</a>"
                                        başlıklı mesaj grubunun içerisine bir mesaj attı.
                                        <footer class="text-md-right text-info">20.02.2022 10:00</footer>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2 border shadow bg-light ml-3" style="height: 15rem;">
                        <div class="h6 text-dark mt-4 ml-2 p-1 text-sm-right border-bottom border-top">
                            Dersin Koordinatörleri
                        </div>
                        <div class="text-muted mt-3 text-right">@Model.Lesson.CoordinatorFullName</div>

                        <div class="h6 text-dark mt-4 ml-2 p-1 text-sm-right border-bottom border-top">
                            Dersin Dili
                        </div>
                        <div class="text-muted mt-3 text-right">@(Model.Lesson.Language == "Tr" ? "Türkçe" : "İngilizce")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
